@import  './style1360.css';


*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
    font-family: 'Raleway';
    color: azure;
}
.navbar{
    margin-top: 20px;
    z-index: 1;
    background-color: black;
}
.topnav {
    overflow: hidden;
    position: fixed;
    width: 100%;
    display:flex;
    justify-content: flex-end;
    text-align: right;
    background: black;
    padding: 10px;
}
#navbar-right{
    right: 0;
    width: auto;
}
.icon{
    display: none;
}
ul{
    display: flex;
    float: right;
    list-style-type: none;
}
ul li{
    margin-left: 10px;
    margin-right: 30px;
}
ul li a{
    color: white;
    text-decoration: none;
}
ul li a:hover{
    font-size: larger;
}
.logo{
    position: fixed;
    top: 15px;
    left: 25px;
}
.main-section{
    position: absolute;
    top: 70px;
    width: 100%;
    height: 80vh;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1
}
.moon{
    position: absolute;
    z-index: -1;
    top: 0;
    animation: moveToRight 2.5s ease-in ;
}
@keyframes moveToRight{
    0%{
        transform: translateX(-100px);
    }
    100%{
        transform: translateX(0px);
    }

}
@keyframes moveToLeft{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }

}
.moon img{
    height: 400px;
}
.name{
    display: flex;
    height:auto;
    margin-top: 80px;
    margin-left: 100px;
    font-size: 80px;
    z-index: 1;
}
.fullname{
    letter-spacing: 3px;
    margin-left: 10px;
    border-bottom: 2px solid white;
    animation: moveToLeft 1.5s ease-in ;
}
.social{
    display: block;
    height: 100px;
    color: white;
    display: flex;
    font-size: 35px;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.social .item{
    margin-left: 30px;
}
.social a{
    color: white;
}
.social .item:hover{
    font-size: larger;
}
.hire-me{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-top: 100px;
}
.rectangle{
    background-color: white;
    height: 100px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px solid red;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333333;
    border-radius: 5px 20px 5px;
    
}
.rectangle a{
    color: #333333;
    text-decoration: none;
}
.rectangle:hover{
    background-color: #2c3e50;
    color: white;
    cursor: none;

}
.rocket{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.rocket img{
    height: 150px;
    animation: shakeXY 4s infinite ease-in-out;
} 
.projects{
    height: auto;
    background-color:white;
    margin: 0 5%;
    z-index: 1;
}
.group-box{
    display: grid;
    grid-template-rows: auto auto auto;
    padding: 20px;
}
.box{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
    padding: 15px;
    align-items: center;
    padding: 5px;
    border-bottom: 2px solid black;
    z-index: 1;
}
.box-main{
    display: grid;
    grid-template-columns: 600px auto;
    width: 100%;
    color: black;
}
.box-image{
    height: 350px;
}
.box-image img{ 
    max-height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.box-body{
    padding: 10px;
}
.box-footer{
    display: block;
    color: black;
    text-align: right;
    width: 100%;

}
.box-footer a{
    color: black;
    text-decoration: none;
}
.box-footer a:hover{
    background-color: black;
    color: white;
}


.btn{
    display: relative;
    padding: 15px 20px 15px 20px;
    font-family: 'Raleway';
    color: white;
    border: none;
} 
.btn-primary{
    background-color: #2c3e50;
}
.btn-disabled{
    text-decoration: line-through;
    color: white !important;
}
.btn-primary:hover{
    color: black;
}

@keyframes shakeXY {
    0%{
        transform: translateY(1000px);
        opacity: 0.20;
    }
    10%{
        transform: rotateY(10deg);
        opacity: 0.50;
    }
    15%{
        transform: rotateY(50deg);
        opacity: 0.70;
    }
    20%{
        transform: rotateY(100deg);
        opacity: 0.80;
    }
    25%{
        transform: rotateY(140deg);
        opacity: 0.90;
    }
    30%{
        transform: rotateY(160deg);
        opacity: 100;
    }
    100%{
        transform: translateY(0px);
        opacity: 100;
    }
}

@function multiple-box-shadow ($n) {
	$value: '#{random(2000)}px #{random(2000)}px #FFF';
	@for $i from 2 through $n {
		$value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF';
	}
	@return unquote($value);
}

$stars: multiple-box-shadow(2000);
    
.stars {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $stars;
    animation: blinkStar 10s infinite;
        &:after {
            content: "";
            position: absolute;
            top: 2000px;
            width: 1px;
            height: 1px;
            background: white;
            box-shadow: $stars;
        }
}

@keyframes blinkStar
{
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
    